<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Document</title>
    <link rel="stylesheet" href="basic.css" />
<!-- https://www.awwwards.com/websites/clean/ --> 
    <style>
      .wrapper {
        display: grid;
        border: 1px solid black;
        width: 1000px;
        height: 900px;
        grid-template-columns: 200px 1fr 1fr;
        grid-template-rows: .5fr 2fr .5fr;   
      }

      

    
    </style>
  </head>
  <body>
    <main>
      <div class="wrapper">
        <div class="banner">banner</div>
        <div class="nav">nav</div>
        <div class="col1">column-one</div>
        <div class="col2">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer
          cursus ullamcorper ipsum nec interdum. Praesent augue odio, finibus at
          suscipit nec, dictum non mi. Fusce metus eros, pellentesque quis
          laoreet eu, tristique dictum erat. Vestibulum eu posuere justo, eu
          lobortis in.
        </div>
        <div class="col3">
          Cras at arcu lacus. Pellentesque quis mollis tortor. Sed commodo, diam
          ut rhoncus efficitur, urna libero pharetra massa, in scelerisque nisl
          diam ac nunc. Integer interdum nunc massa, quis vulputate ex egestas
       
        </div>
        <div class="col4">
          Maecenas semper diam auctor pellentesque accumsan. Etiam nec lorem at
          ante hendrerit ullamcorper. Sed eu vehicula leo, eu pharetra erat.
          Integer est elit, tempus vitae tristique sed, laoreet eget magna.
         
        </div>
        <div class="col5">column-five</div>
        <div class="footer">footer</div>
      </div>
    </main>
  </body>
</html>

